.canvas {
    border-left: 7px dashed white;
    border-right: 7px dashed white;
    background-color: #444444;
}
body {
    height: 100vh;
    display: grid;
    place-items: center;
    background-image: url("photo/background.jpg");
    background-position: center;
    background-size: 1800px;
    background-color: #a5d5fc;
}
h2  {
    color: #ffd500;
    font-size: 35px;
    margin-top: 5px;
    font-family: sans-serif;
    font-weight: bold;
}